body {
    background-image: url("../images/theme/bg-01.jpg");
    background-color: #eee;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Roboto', sans-serif;
}

.footer {
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.linkDecorationNone {
    text-decoration: none;
    color: #000 !important;
}

.linkDecorationNone:hover {
    text-decoration: none;
}

.paddingBlock {
    padding: 0 !important;
    text-align: center;
}

.cardNew {
    padding: 0 0 0.6em 0 !important;
}

.cardHeaderNewTabs {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.navLogo {
    background-image: url("../images/theme/sforum-logo.gif");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 16px;
    width: 138px;
    margin-right: 12px;
    min-height: 40px;
}

.navbar li {
    font-weight: bold;
}

#account {
    padding: 2em;
}

.sectionHeader {
    background-color: rgba(0, 0, 0, 0.85);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.3);
}

.sectionHeading {
    color: white;
    font-size: 1.3em;
    font-family: "Roboto", sans-serif;
    padding: 16px 0 4px;
    margin: 0 0 20px;
    border-bottom: 1px solid #676794;
}

.postHeading {
    color: white;
    font-size: 1.1em;
    font-family: "Roboto", sans-serif;
    padding: 16px 0;
    width: 100%;
}

.sectionInfo {
    height: 400px;
    background-color: white;
}

.frontPageSplash {
    background-image: url(../images/theme/front-splash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.3);
}

.frontPageLearn {
    font-family: "Roboto", sans-serif;
    padding: 12px 0 0 32px;
}

.dropdownLeft {
    top: 3em !important;
    left: -5.1em !important;
}

.sectionDescription {
    color: #eee;
}

.frontPageHeading {
    font-size: 3.2em;
    margin: 16px 0 15px 40px;
    color: #d1ecf1;
}

.frontPageSubHeading {
    font-size: 2em;
    margin: 0 0 30px 40px;
    color: #d1ecf1;
}

.homeSearch {
    width: 80%;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin: 0 0 30px 40px;
    border: 0;
    height: 2.3em;
    font-size: 2.1em;
    font-family: "Roboto Mono";
    font-weight: bold;
    transition: ease-in 0.3s;
}

.homeSearch:focus {
    border: none !important;
    outline: none !important;
    transition: ease-in 0.3s;
    width: 100%;
    color: #491cb5;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 5px 4px -6px #000;
}

@media screen and (max-width: 425px) {
    #userProfileImage {
        width: 100% !important;
        min-height: 15em;
    }

    .forumLogo {
        display: none;
    }

    #userProfileEditImage {
        margin: 0 auto;
        min-width: 200px !important;
        min-height: 200px !important;
        background-size: cover;
    }

    #userProfileAdmin {
        min-width: 200px !important;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 16px;
    }

    .frontPageHeading {
        font-size: 2em;
        text-align: center;
        margin: 0;
    }

    .frontPageSubHeading {
        font-size: 1.4em;
        text-align: left;
        margin: 10px 0 10px 0;
    }

    .homeSearch {
        width: 100%;
        padding: 20px;
        margin: 0 0 20px 0;
    }

    .btn-file {
        width: 100% !important;
    }

    .btn-submitPost {
        width: 100% !important;
    }

    .userProfile {
        padding: 20px 5px !important;
        min-height: 300px;
    }

    #userProfileImage {
        width: 100% !important;
    }

    .tdDisplayNone {
        display: none;
    }

    #forumIndexTable td {
        padding: 6px;
    }
}

.frontPageTopContainer {
    padding: 40px 80px 42px 40px;
    border: 1px solid #999;
    background-color: #2569d5;
    font-family: "Roboto", sans-serif;
}

.frontPageContent {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 16px;
    margin-top: 10px;
}

#latestPosts,
#popularForums {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin: 4px 0 16px 0;
}


/*Forum Topic*/

.lockIcon {
    color: grey;
    opacity: 0.6;
    font-size: 0.9em !important;
}

.searchBar {
    padding: 5px 5px 5px 12px;
    background-color: #333;
    width: 10%;
    min-width: 60px;
    transition: ease 0.5s;
    border: none;
    font-family: "Roboto Mono";
    margin-bottom: 20px;
    color: #fff;
}

.searchBar:focus {
    color: black;
    width: 60%;
    background-color: #fff;
}


/*Post page*/

.archiveTextBlock {
    color: #fff;
    font-family: "Roboto Mono";
    padding: 10px;
    background-color: #212121;
    opacity: 0.7;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.3);

}

.archiveText {
    margin: 0 auto;
}

.postTitle {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.postSubTitle {
    color: #888;
    font-family: "Roboto Mono";
    font-size: 0.8em;
}

.postData {
    display: inline-block;
}

.postDate {
    color: #888;
    font-family: "Roboto Mono";
    font-size: 0.8em;
}

.postLogo {
    display: inline-block;
    border-radius: 3px;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    background-color: #ddd;
}

.postAuthorImage {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/theme/default.png);
    height: 80px;
    width: 80px;
}

.postAuthorContainer {
    padding: 12px;
    color: #444;
    font-family: "Roboto", sans-serif;
    width: 190px;
}

.postIndexTitle {
    font-size: 1.4em;
}

.postHeader {
    background-color: #212121;
    padding: 9px 20px 24px 24px;
}

#headingBtn {
    float: right;
    margin-bottom: 1em;
}

.postContentContainer {
    font-family: "Roboto", sans-serif;
    color: #222;
    padding: 22px;
    border-left: 1px solid #ddd;
}

.postAuthorRating {
    font-size: 0.9em;
    color: #159;
    font-family: "Roboro Mono";
}

#postIndexContent {
    background-color: #fff;
}

#replyDivider {
    height: 2px;
    margin-bottom: 12px;
}


/*Forum index*/

#forumIndexTable,
#searchIndexTable {
    margin: 0 !important;
}

#forumIndexTable td {
    background-color: rgba(255, 255, 255, 0.9);
}

#forumIndexTable tr:hover {
    background-color: rgba(0, 116, 238, 1);
}

.forumData {
    display: inline-block;
}

.forumTitle {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 1.1em;
}

.forumSubTitle {
    color: #888;
    font-family: "Ronoto Mono";
    font-size: 0.8em;
}

.forumDescription {
    color: #555;
    font-family: "Roboto", sans-serif;
}

.forumLogo {
    border-radius: 3px;
    float: left;
    margin-right: 20px;
    height: 50px;
    width: 50px;
    border: 1px solid #696969;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/theme/defaultForum.png);
}

.forumPostCount {
    color: #888;
    font-family: "Roboto Mono";
    font-size: 0.9em;
}

.forumMemberCount {
    color: #888;
    font-family: "Roboto Mono";
    font-size: 0.9em;
}

#forumIndexContent {
    margin-top: 10px;
    background-color: #fff;
}

.noPosts {
    text-align: center;
    width: 100%;
    padding: 30px 20px;
    font-family: "Roboto Mono";
}


/*Create Forum*/

#createForumSection {
    width: 80%;
    margin: 20px auto;
}

#createReply,
#editPost,
#editReply {
    margin-top: 10px;
    width: 100%;
    background-color: #fff;
    padding: 24px;
}


/*Create Post*/

.createPostSection {
    margin-top: 10px;
    width: 100%;
    background-color: #fff;
    padding: 24px;
}

.authorBlock {
    padding: 18px;
    border: 1px dashed #00AFCF;
    margin-bottom: 8px;
}

.noBorder {
    border: none;
    margin-bottom: 8px;
}


/*User profile*/

.userProfilePic {
    height: 140px;
    width: 140px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.userProfileBlock {
    display: block;
}

#editProfileSection {
    margin-top: 10px;
    width: 100%;
    background-color: #fff;
    padding: 24px;
}

.editProfileSection {
    width: 70%;
    margin: 20px auto;
}


/*Reply*/

.replyContent {
    display: table;
    background-color: #fff;
    border-bottom: 1px solid #aaa;
}

#postReplyRow {
    background-color: #212121;
    padding: 8px;
    opacity: 0.7;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.3);
}

.replyContentContainer {
    border-left: 1px solid #ddd;
    display: table-cell;
    padding: 12px;
}

.replyAuthorContainer {
    display: table-cell;
    padding: 12px;
}

.isAdmin {
    display: inline-block;
    padding: 3px;
    background-color: #FFEB3B;
    color: #000;
    font-family: 'Roboto Mono';
}

.isAdminEdit {
    width: 100%;
    text-align: center;
}

.editIcon {
    color: grey;
    opacity: 0.6;
}

.editForum {
    font-size: 0.9em !important;
}

.smaller {
    font-size: 0.8em;
}

#originalPost {
    width: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 73%, rgba(0, 212, 255, 0) 100%);
    padding: 24px;
    margin: 10px 0;
}

.hasRecentPost {
    padding: 2px;
    background-color: #db7213;
    color: #fff;
    text-align: center;
    border-radius: 1px;
    width: 30px;
}

.form-control {
    margin-bottom: 0.7em;
}


/*Custom btn*/

.btn-edit {
    margin-top: 10px;
}

.btn-delete {
    text-align: right;
}

.btn-file {
    background: none !important;
    border: 2px solid #007bff !important;
    color: #007bff !important;
    width: 16%;
    min-width: 160px;
    transition: 0.8s;
}

.btn-file:hover {
    background-color: #007bff !important;
    color: #fff !important;
    transition: cubic-bezier(.23, 1.45, .66, .21) 1s;
}

.btn-newPost,
.btn-back,
.btn-archive {
    background: #eb4d4b !important;
    border: 2px solid #eb4d4b !important;
    color: #fff !important;
    transition: 0.8s;
}

.btn-newPost:hover,
.btn-back:hover,
.btn-archive:hover {
    background-color: #851d12 !important;
    transition: cubic-bezier(.23, 1.45, .66, .21) 1s;
    border: 2px solid #851d12 !important;
}

.btn-center {
    margin: 0 auto;
}

.btn-newReply {
    background: #fff !important;
    color: #212121 !important;
    transition: 0.8s;
    border: 0 !important;
    border-radius: 0 !important;
}

.btn-newReply:hover {
    background-color: #95a5a6 !important;
    color: #fff !important;
    transition: cubic-bezier(.23, 1.45, .66, .21) 1s;
}

.btn-submitPost {
    background: none !important;
    border: 2px solid #007bff !important;
    color: #007bff !important;
    transition: 0.8s;
    min-width: 160px;
    margin-top: 20px;
}

.btn-submitPost:hover {
    background-color: #007bff !important;
    color: #fff !important;
    transition: cubic-bezier(.23, 1.45, .66, .21) 1s;
}

.btn-forumSearch {
    background: none !important;
    border: none !important;
    padding: 2px !important;
    font: inherit;
}

.searchBtnRed, .deleteButtonRed {
    color: #eb4d4b;
}


/*Upload*/

#upload {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}


/*Profile*/

.userProfile {
    margin-top: 10px;
    padding: 32px 0 64px 24px;
    background-color: #fff;
}

#userProfileEditImage {
    margin: 0 auto;
    min-width: 300px;
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/theme/default.png);
}

#userProfileAdmin {
    min-width: 300px;
    margin: 0 auto;
}

#userProfileImage {
    display: inline-block;
    background-image: url(../images/theme/default.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 240px;
    height: 240px;
}

#userEmailLabel,
#userBioLabel,
#userCreatedLabel,
#userRating,
#userActiveLabel {
    display: block;
    color: #444;
    font-family: 'Roboto', sans-serif;
    padding-top: 3px;
}

#userName {
    display: block;
    color: #2569d5;
    font-size: 1.7em;
    font-family: 'Roboto', sans-serif;
}


/* Provide sufficient contrast against white background */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

a {
    color: #0366d6;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}