@using SForum.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Привет, @UserManager.GetUserName(User)</a>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle text-dark" style="text-decoration: none" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Настройки<span class="caret"></span></a>
            <ul class="dropdown-menu dropdownLeft">
                <li role="separator" class="divider"></li>
                <li class="dropdown-header ">Profile</li>
                <li class="dropdown-item">
                    <a asp-controller="Profile" asp-action="Detail" asp-route-id="@UserManager.GetUserId(User)">Мой профиль</a>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Admin</li>
                    <li class="dropdown-item">
                        <a asp-controller="Forum" asp-action="Create">Создать категорию</a>
                    </li>
                    <li class="dropdown-item">
                        <a asp-controller="Profile" asp-action="Index">Посмотреть пользователей</a>
                    </li>
                }
            </ul>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
                <button type="submit" class="nav-link btn btn-link text-dark">
                    <strong>Выйти</strong>
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>